#search {
    font-size: 0.9rem;
}

.table{
    font-size: 0.9rem;
}

#tabel-booking  button{
    font-size: 0.6rem;
    font-weight: 800;
}

#tabel-booking table{
    font-size: 0.8rem;
}

.form-select {
    font-size: 0.8rem; 
}

.form-select option {
    padding: rem; /* Padding untuk elemen <option> */
    background-color: #f8f9fa; /* Warna latar belakang abu-abu terang */
    color: #333; /* Warna teks */
}



@media (max-width: 768px) {

#tabel-col{
    margin-bottom: 5rem;
}



}