.waktu-appointment{
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.icon-menu{
    font-size: 2rem;
}

.total-menu{
    font-size: 1.5rem;
}

.keterangan-menu{
    font-size: 0.9rem;
}
.appointment-info{
    font-size: 0.95rem;
    letter-spacing: 1px;
}

.appointment-info span{
    font-size: 0.6rem;
    letter-spacing: 1.3px;
}

.appointment-info p{
   margin: 0.6rem 0;
   letter-spacing: 1px;
}

#menuCount{
   letter-spacing: 0.5px;
}

#tabel-booking{
    font-size: 0.8rem;
}

#menuCount small{
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    #tabel-booking{
        display: none;
    }


    .icon-menu{
    font-size: 1rem;
    }

    .total-menu{
        font-size: 1rem;
    }

    .keterangan-menu{
        font-size: 0.6rem;
    }

    .waktu-appointment{
        display: block;
    }

    .appointment-info{
    font-size: 0.7rem;
    letter-spacing: 1px;
    }

    .appointment-info span{
        font-size: 0.5rem;
        letter-spacing: 1px;
    }
    #appointment{
        margin-bottom: 5rem;
    }
}