/* #search {
    font-size: 0.9rem;
}

.table{
    font-size: 0.9rem;
}

#tabel-booking  button{
    font-size: 0.6rem;
    font-weight: 800;
} */

#tabel-laporan table{
    font-size: 0.8rem;
}



/* @media (max-width: 768px) {

#tabel-col{
    margin-bottom: 5rem;
}



} */